body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333;
  text-align: center;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 768px;
  max-width: 1200px;
  -webkit-box-shadow: 0 7px 15px rgba(0,1,1,.15);
          box-shadow: 0 7px 15px rgba(0,1,1,.15);

  background-color: #fff;
}

.visually-hidden {
  visibility: hidden;
  position: absolute;
  width: 1px;
  border: 0;
  padding: 0;
  margin: -1px;
}

.main-header {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
}

.main-header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
 }


.main-navigation {
  width: 100%;

}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.site-navigation li {
  width: 20%;
  padding: 0;
  margin: 0;
  padding-top: 14px;
  padding-bottom: 16px;
}


.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation li:nth-child(1) {
  padding-left: 6%;
}

.site-navigation li:nth-child(4) {
  padding-right: 6%;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
}

.main-header a {
  color: #333;
  text-decoration: none;
}

.main-header a:hover {
  color: #81b3d2;
}

.main-header a:active {
  color: rgba(0, 0, 0, 0.3);
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 508px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;

  background-color: #a96b60;
  background-image: url("../img/shape.png"), url("../img/background-main.jpg");
  background-position: bottom center, 0 -85px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.intro-text {
  width: 458px;
  height: 352px;
  margin: 76px 0 80px 0;

}

.tagline {
  min-height: 216px;
  padding: 60px 0 0 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  line-height: 26px;
}

.tagline h2 {
  margin: 0 auto;
  width: 450px;

  font-size: 21px;
}

.tagline p {
  margin: 0 auto;
  padding: 27px 20px 20px 20px;
}

.place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  min-height: 256px;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  background-color: #81b3d2;
}

.place-text {
  margin: 0;
  padding: 47px 0 10px 0;
  width: 33.33%;
}

.place-text h3, span, p {
  margin: 0 auto;
  padding: 0;
}

.place h3 {
  max-width: 200px;
  padding-bottom: 22px;

  font-size: 21px;
  font-weight: bold;
}

.place-text p {
  margin: 0 auto;
  padding: 21px 15px 27px 15px;
  max-width: 300px;
}

.place-img {
  width: 66.66%;

  background: url("../img/sedona-photo.jpg") no-repeat #a96b60;
  background-size: cover;
  background-position: center;
}

.services {
  padding: 0;
}

.house {
  display: block;
  background-image: url("../img/icon-1.svg");
  width: 75px;
  height: 72px;
}

.food {
  display: block;
  background-image: url("../img/icon-3.svg");
  width: 74px;
  height: 70px;
}

.gifts {
  display: block;
  background-image: url("../img/icon-2.svg");
  width: 64px;
  height: 76px;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
}

.services-list li:first-child {
  padding-top: 61px;
}

.services-list li:nth-child(2) {
  padding-top: 63px;
}

.services-list li:last-child {
  padding-top: 57px;
}

.service-item {
  width: 33.33%;
  margin: 0;
  padding: 0 0 20px 0;
  min-height: 330px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.services h3, p {
  padding: 0;
  margin: 0 auto;
}

.services h3 {
  padding-top: 28px;
  font-size: 21px;
  font-weight: bold;
}

.service-item p {
  padding-top: 24px;
  max-width: 300px;
}

.services ul{
  list-style-type: none;
}

.bridge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin: 0;
}

.bridge-text p {
  max-width: 310px;
}

.bridge-img {
  width: 66.66%;

  background: url("../img/bridge-photo.jpg") no-repeat #a96b60;
  background-size: cover;
  background-position: center;
}

.advantages {
  padding: 0;

  background-color: #eee;
}

.advantage-item {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  margin: 0;
  padding: 0;
  min-height: 256px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.advantages h3 {
  margin:0 auto;
  padding: 47px 0 25px;
  max-width: 150px;

  font-size: 21px;
  font-weight: bold;
}

.advantages p {
  margin: 0 auto;
  padding: 23px 0 20px;
  max-width: 270px;
}

.advantages ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.search {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search-text h3 {
  margin: 0 auto;
  padding-top: 50px;

  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}

.search-text p {
  margin: 0 auto;
  padding-top: 24px;
  width: 450px;
  line-height: 24px;
}

.search-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 48px;
}

.search-form-wrapper {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 568px;

  background-color: #fff;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

 .search-form {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0;
  padding: 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  line-height: 26px;
  font-weight: bold;

  background-color: #fff;

  animation: bounce 0.6s;
}

.nojs .search-form {
  display: block;
}

.search-form.opened {
  display:block;
}

.search-form fieldset {
  border: none;
  margin: 0;
  padding: 0;

}

.button {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #fff;

  background-color: #333;
  border: none;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.search-hotel {
  display: block;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;

  background-color: #766357;
  padding: 29px 20px 30px 20px;
}

.search-hotel:hover {
  background-color: #604e43;
}

.search-hotel:active {
  background-color: #604e43;
}

.search-form {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 55px;
  background-color: #fff;
}

.search-form-inside {
  margin: 0;
  padding: 0;
  border: none;
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 29.5px;
}

.form-row-guests {
  padding-bottom: 54px;
}

.form-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

.field-wrapper {
  position: relative;
  width: 100%;
}

.form-field {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  padding: 6px 40px 6px 12px;
  width: 100%;

  font: inherit;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  color: #000;

  background-color: #f1f1f1;
  border: none;
}

.form-field:hover {
  background-color: #ebebeb;
}

.form-field:focus {
  outline: none;

  background-color: #fff;
  padding: 4px 38px 4px 10px;
  border: solid 2px #e5e5e5;
}

.field-label {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6px 0;
  min-width: 112px;
  max-width: 112px;

  font-size: 14px;
  line-height: 26px;
  text-align: left;
}

.calendar {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  padding: 0;
  width: 38px;
  height: 38px;
  background-color: transparent;
  border: none;
  fill: #d9d9d9;
}

.calendar:hover {
  fill: #000;
}

.calendar:active {
  fill: #81b3d2;
}


.guests .field-wrapper {
  width: 114px;
}

.guests .form-field {
  padding-left: 40px;
  padding-right: 40px;

  text-align: center;
}

.field-label.nested {
  text-align: left;
}

.child {
  padding-left: 53px;
}

.number {
  position: absolute;
  top: 0;
  display: block;
  padding: 0;
  width: 38px;
  height: 38px;
  background-color: transparent;
  border: none;
}

.number-minus {
  left: 0;
}

.number-plus {
  right: 0;
}

.number-plus::before,
.number-plus::after {
  content: "";
  display: block;
  top: 18px;
  position: absolute;
  margin-left: 13.5px;

  width: 11px;
  height: 3px;

  background-color: #a9a9a9;
}

.number-plus::before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.number-plus:hover:before,
.number-plus:hover:after,
.number-minus:hover:before {
  background-color: #000;
}

.number-plus:active:before,
.number-plus:active:after,
.number-minus:active:before {
  background-color: #81b3d2;
}

.number-minus::before {
  content: "";
  display: block;
  top: 18px;
  position: absolute;
  margin-left: 13.5px;

  width: 11px;
  height: 3px;

  background-color: #a9a9a9;
}

.search-button {
  width: 100%;
  padding: 16px 20px;

  font-family: "PT Sans", Tahoma, sans-serif;
  color: #fff;
  font-size: 21px;
  line-height: 26px;

  background-color: #81b3d2;
  border: none;
  border-radius: 0;
}

.search-button:hover {
  background-color: #669ec0;
}

.search-button:active {
  background-color: #5496bd;
}

.map-img {
  height: 593px;

  background: url("../img/map.jpg") no-repeat #f2f1ef;
  background-size: cover;
  background-position: center;
}

.map-img iframe {
  border: none;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: rgba(255,255,255,0.9);
}

.footer-index {
  position: absolute;
  bottom: 0;
}

.footer-item {
  width: 33.33%;
  margin: 0;
  padding: 0;
}

.main-footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.hashtag {
  -ms-flex-item-align: center;
      align-self: center;
}

.hashtag a{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 36px 0 30px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-social ul {
  padding: 0;
  margin: 0 5px 0 0;
}

.footer-social li {
margin-bottom: 6px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 46px;
  height: 48px;
  margin-right: 3px;
  margin-left: 3px;
  fill: #fff;

  background-color: #81b3d2;
}

.social:hover {
  background-color: #669ec0;
}

.social:active {
  background-color: #5496bd;
  fill: rgba(255, 255, 255, 0.3);
}

.footer-social ul {
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  margin: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 39px;
 }

.footer-copyright a {
  display: block;
  height: 41px;
  padding: 0;
  margin: 0;
}

.footer-copyright a:hover {
  fill: #81b3d2;
}

.footer-copyright a:active {
  fill: rgba(0, 1, 1, 0.2);
}

.footer-copyright span {
  margin: 0;
  padding-right: 9px;
  padding-top: 9px;
}

/*СТРАНИЧКА С ОТЕЛЯМИ*/

.catalog-here a{
  color: #766357;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 217px;
  padding: 28px 6% 5px 6%;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  font-size: 14px;
  line-height: 21px;
  color: #fff;

  background-color: #7d9ebf;
  background-image: url("../img/background-blur.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.filters ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.filters legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.filter-checkbox {
  position: relative;
  padding-left: 39px;

  cursor: pointer;
}

.filter-option input[type="checkbox"] + label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 23px;

  background-color: transparent;
  background-image: url(../img/checkbox-off.svg);
  background-position: top left;
  background-repeat: no-repeat;
}
.filter-option input[type="checkbox"]:disabled + label:before {
  opacity: 0.3;
}


.filter-option input[type="checkbox"]:checked + label:before {
  content: "";

  background-image: url(../img/checkbox-on.svg);
}

.filter-option input[type="checkbox"]:checked:disabled + label:before {
  opacity: 0.3;
}

.filter fieldset {
  padding: 0;
  border: none;

  text-align: left;
}

.filter-col {
  width: 24.03%;
  margin: 0;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
}

.filter-col ul {
  padding-top: 23px;
}

.filter-col li:not(:first-child) {
  padding-top: 24.5px;
}

.filter-option {
  text-align: left;
}

.price-range {
  margin: 0;
  margin-bottom: 9px;
  margin-left: auto;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  min-width: 313px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  padding-top: 5px;

  font-size: 14px;
  line-height: 21px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls .max-price {
  width: 90px;
  padding-left: 58px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #ababab;
  border: 9px solid #ffffff;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.show-button {
  display: block;
  margin: auto 27%;
  padding: 6px 35px;

  font-family: "PT Sans", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.show-button:hover {
 color: #000000;

 background: #ffffff;
}


.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 86px;
  padding: 0 6% 0 6%;
  margin: 0;

  font-size: 12px;
  line-height: 18px;
}

.sorting b {
  padding-top: 30px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sorting-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sorting-type p{
  padding-left: 47px;
  }

.sorting-type li:first-child {
  padding-left: 37px;
}

.sorting-type li:nth-child(2) {
  padding-left: 33px;
}

.sorting-type li:nth-child(3) {
  padding-left: 34px;
}

.sorting-link {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;

  border-bottom: 1px dotted #81b3d2;
}

.sorting-link:hover {
  color: #81b3d2;
  text-decoration: none;
}

.sorting-link:active {
  color: #81b3d2;
  text-decoration: none;

  border-bottom:none;
}

.sorting-link:focus {
  color: #81b3d2;
  text-decoration: none;

  border-bottom:none;
}

.sorting ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 0;
  margin: 0;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  list-style-type: none;
}

.sort li {
  margin-left: 12px;
  width: 11px;
  height: 10px;
}

.sort a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.arrow-up a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5.5px 10px 5.5px;
  border-color: transparent transparent #cacaca transparent;
}

.arrow-up a:hover:after {
  border-color: transparent transparent #231f20 transparent;
}

.arrow-up a:active:after {
  border-color: transparent transparent #81b3d2 transparent;
}

.arrow-up a:focus:after {
  border-color: transparent transparent #81b3d2 transparent;
}

.arrow-down a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5.5px 0 5.5px;
  border-color: #cacaca transparent transparent transparent;
}

.arrow-down a:hover:after {
  border-color: #231f20 transparent transparent transparent;
}

.arrow-down a:active:after {
  border-color: #81b3d2 transparent transparent transparent;
}

.arrow-down a:focus:after {
  border-color: #81b3d2 transparent transparent transparent;
}

.catalog ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.catalog a {
  text-decoration: none;
}

.catalog-item-image {
  padding-top: 5px;
}

.catalog-item-image {
  display: block;
  border-style: none;
}


.catalog:last-child {
  border-bottom: solid 1px #e5e5e5;
}

.catalog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 26px 6% 23px 6%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  border-top: solid 1px #e5e5e5;
}

.catalog-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 20px;
}
.catalog-item-inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  padding: 6px 0 0 29px;
}

.catalog-item-price {
  padding-left: 6px;
}

.catalog-item-type, .catalog-item-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.catalog-item-type span, .catalog-item-price span {
  padding: 0;
  margin: 0;
  margin-bottom: 14px;
  max-width: 110px;

  text-align: left;
}

.catalog-item-price span {
  max-width: 150px;
}


.catalog-name {
  margin: 0;
  padding: 0 0 0 29px;

  text-align: left;
}

.catalog-name a {
  color: #333;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.catalog-name a:hover {
  color: #81b3d2;
}

.catalog-name a:active {
  color: #b2b2b2;
}

.more-info {
  color: #fff;

  background-color: #81b3d2;
  padding: 3px 16px 4px 16px;
}

.more-info:hover {
  background-color: #669ec0;
}

.more-info:active {
  color: rgba(255,255,255,0.3);

  background-color: #5496bd;
}

.booking {
  color: #fff;

  background-color: #766357;
  padding: 3px 17px 4px 17px;
}

.booking:hover {
  background-color: #604e43;
}

.booking:active {
  background-color: #503e33;
}

.stars-and-rating {
  display: felx;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  min-width: 112px;
}

.stars {
  margin: 0;
  padding: 0;
  padding-bottom: 47px;

  text-align: right;
}

.star {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  padding: 0;
  padding-left: 6px;
  margin: 0;

  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
  background-position: top right;
}

.rating {
  padding: 5px 13px 5px 16px;
  color: #666;

  background-color: #f2f2f2;
}
