body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333;
  text-align: center;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 768px;
  max-width: 1200px;

  background-color: #fff;
}

.visually-hidden {
  visibility: hidden;
  position: absolute;
  width: 1px;
  border: 0;
  padding: 0;
  margin: -1px;
}

.main-header {
  display: flex;
  justify-content: center;

  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
}

.main-header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
 }


.main-navigation {
  width: 100%;

}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 0 73px;
  /*высота, ее потом надо бы убрать?*/
  height: 56px;
  align-items: center;
  list-style-type: none;
}

.site-navigation li {
  width: 20%;
}

.site-navigation a{
  padding: 15px 0;
  box-sizing: border-box;
}

.site-navigation li:nth-child(2) {
  margin-right: 20%;
}
.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
  text-align: left;

}
.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.main-header a {
  color: #333;
  text-decoration: none;
}

.main-header a:hover {
  color: #81b3d2;
}

.main-header a:active {
  color: rgba(0, 0, 0, 0.3);
}

.intro {
  display: flex;
  height: 508px;
  justify-content: center;
  padding: 0;

  background-color: #a96b60;
  background-image: url("../img/background-main.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.intro-text {
  width: 458px;
  height: 352px;
  margin: 76px 0 80px 0;

}

.tagline {
  height: 216px;
  padding: 62px 0 0 0;
  margin: 0;
  box-sizing: border-box;

  line-height: 26px;
}

.tagline h2 {
  margin: 0 auto;
  width: 450px;

  font-size: 21px;
}

.tagline p {
  margin: 0 auto;
  margin-top: 36px;
  padding: 0 20px;
}

.place {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 256px;
  color: #fff;
  box-sizing: border-box;

  background-color: #81b3d2;
}

.place-text {
  margin: 0;
  padding: 0;
  width: 33.33%;
}

.place-text  h3, span, p {
  margin: 0 auto;
  padding: 0;
}

.place h3 {
  margin: 45px auto 27px auto;
  width: 200px;
}

.place-text p {
  margin: 0 auto;
  margin-top: 30px;
  width: 300px;
}

.bridge-text p {
  width: 330px;
}

.place-img {
  width: 66.66%;

  background: url("../img/sedona-photo.jpg") no-repeat #a96b60;
  background-size: cover;
}

.place h3 {
  font-size: 21px;
  font-weight: bold;
}

.services {
  padding: 0;
  min-height: 330px;
}
.services-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.service-item {
  display: flex;
  flex-basis: 33.33%;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.services h3, p {
 padding: 0;
 margin: 0 auto;
}

.services h3 {
  margin-top: 32px;
  /*маргин выбран с учетом того, что атм еще изображение будет*/
  font-size: 21px;
  font-weight: bold;
}

.service-item p {
  margin-top: 30px;
  width: 300px;
}

.services ul{
  list-style-type: none;
}

.bridge {
  display: flex;
  flex-direction: row-reverse;
  margin: 0;
}

.bridge-img {
  width: 66.66%;

  background: url("../img/bridge-photo.jpg") no-repeat #a96b60;
  background-size: cover;
}

.advantages {
  padding: 0;
  height: 256px;

  background-color: #eee;
}

.advantage-item {
  display: flex;
  flex-direction: column;
  flex-basis: 33.33%;
  margin: 0;
  padding: 0;
}

.advantages h3 {
  margin: 48px 0 27px 0;
  padding: 0;

  font-size: 21px;
  font-weight: bold;
}

.advantages p {
  margin: 29px auto 0;
  padding: 0;
  width: 270px;
}

.advantages ul{
  display: flex;
  margin: 0;

  list-style-type: none;
}

.search {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.search-text h3 {
  margin: 55px auto 35px;

  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}

.search-text p {
  margin: 0 auto;
  width: 450px;
  /*вот как тут распределить текст верно?*/
  line-height: 24px;
}

.search-text {
  display: flex;
  flex-direction: column;
  height: 292px;
}

.search-form-wrapper {
  /*кнопка почему-тов все равно выпадает из обертки :((( */
  display: block;
  position: absolute;
  height: 481px;
  width: 568px;
  left: 50%;
  transform: translateX(-50%);

  background-color: #fff;
}

.search-form {
  margin: 86px 0 0;
  padding: 0;
}

.button {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #fff;

  background-color: #333;
  border: none;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.search-hotel {
  width: 100%;
  height: 58px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;

  background-color: #766357;
  padding: 35px 139px 33px 139px;
}

.search-hotel:hover {
  background-color: #604e43;
}

.search-hotel:active {
  background-color: #604e43;
}

.search-form {
  line-height: 26px;
  font-weight: bold;
}

.search-form fieldset {
	border: none;
}

.date input {
  background-color: #f2f2f2;
}

.date input:hover {
  background-color: #ebebeb;
}

.date input:focus {
  background-color: #fff;
}

.search-button {
  color: #fff;
  font-size: 21px;
  line-height: 26px;

  background-color: #81b3d2;
  border: none;
  padding: 17px 199px 22px 196px;
}

.search-button:hover {
  background-color: #669ec0;
}

.search-button:active {
  background-color: #5496bd;
}

.map-img {
  height: 593px;

  background: url("../img/map.jpg") no-repeat #f2f1ef;
  background-size: cover;
}

.main-footer-wapper {
  position: absolute;
}


.main-footer {
  display: flex;
  justify-content: space-around;
  height: 120px;

  background-color: rgba(255,255,255,0.9);
}

.main-footer ul {
  display: flex;
  list-style-type: none;
}

.hashtag a{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.filters {
  display: flex;
  min-height: 217px;

  font-size: 14px;
  line-height: 21px;
  color: #fff;

  background-color: #7d9ebf;
  background-image: url("../img/background-blur.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.filters ul {
  list-style-type: none;
}

.filters legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.filter fieldset {
  border: none;
}

.price-range {
  display: flex;
  flex-direction: column;
}

.show-button {
  font-family: "PT Sans", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;

  background: none;
  border: solid 2px #fff;
}

.show-button:hover {
  color: #333;
  background-color: #fff;
  border: solid 2px #fff;
}


.sorting {
  display: flex;
  justify-content: space-around;
  min-height: 86px;
  align-items: center;

  font-size: 12px;
  line-height: 18px;
}

.sorting b {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sorting ul {
  list-style-type: none;
}

.sorting-type {
  display: flex;
}

.sorting-type ul {
  display: flex;

}

.sorting-link {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;

  border-bottom: 1px dotted #81b3d2;
}

.sorting-link:hover {
  color: #81b3d2;
  text-decoration: none;
}

.sorting-link:active {
  color: #81b3d2;
  text-decoration: none;

  border-bottom:none;
}

.catalog ul {
  list-style-type: none;
}

.catalog a {
  text-decoration: none;
}

.catalog:last-child {
  border-bottom: solid 1px #e5e5e5;
}

.catalog-item {
  display: flex;
  min-height: 152px;
  padding-top: 30px;

  border-top: solid 1px #e5e5e5;
}

.catalog-name a {
  color: #333;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.catalog-name a:hover {
  color: #81b3d2;
}

.catalog-name a:active {
  color: #b2b2b2;
}

.more-info {
  color: #fff;

  background-color: #81b3d2;
  padding: 3px 13px 4px 13px;
}

.more-info:hover {
  background-color: #669ec0;
}

.more-info:active {
  color: rgba(255,255,255,0.3);

  background-color: #5496bd;
}

.booking {
  color: #fff;

  background-color: #766357;
  padding: 3px 13px 4px 13px;
}

.booking:hover {
  background-color: #604e43;
}

.booking:active {
  background-color: #503e33;
}

.rating {
  color: #666;

  background-color: #f2f2f2;
}
